name: Waka Readme

on:
  schedule: # execute every 2 hours
    - cron: '* */2 * * *'

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  update-readme:
    name: Update Readme with Metrics
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_OS: false
          SHOW_PROJECTS: false
          SECTION_NAME: waka
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
