name: Waka Readme

on:
  schedule: # execute every 2 hours
    - cron: '* */2 * * *'

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  update-readme:
    name: Update Readme with Metrics
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_TOTAL_CODE_TIME: true
          SHOW_LINES_OF_CODE: true
          SECTION_NAME: waka
